* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: coral;
}

.container{
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    text-align: center;
}
